body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header .logo {
    display: inline-block;
    vertical-align: middle;
}

.header .search-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 170px;
    width: 60%;
    max-width: 600px;
}

.gcse-search {
    margin: 50px auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #333;
}

footer p {
    margin: 0;
}